
$primary-color: #fff;
$theme-color: #000000;
$theme-color-gradient: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
$background-color: #2A2E37;
$search-bg-color: #242628;
$icon-color: #00FEDE;
$transition: all .5s ease;
$box-shadow-lt: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-gt: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-focus: 0 0 2px rgba(0, 0, 0, 0.8) inset;
$font-bold: bold 15px "lucida sans", "trebuchet MS", "Tahoma";
$color-placeholder: #999;
$thick-red: #d83c3c;
$light-red: #e54040;
$black: #333;
$text-color: #2F556D;
$active-color: #2C9E91;
$btn-color:#63d471;
$btn-color-gradient: linear-gradient(315deg, #63d471 0%, #233329 74%);
$length: 400px;
$opacityDark: 0.7;
